<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContractCreate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ContractCreate.Properties.Settings>
      <setting name="API1" serializeAs="String">
        <value>https://explorer.thaismartcontract.com/</value>
      </setting>
      <setting name="API2" serializeAs="String">
        <value>https://explorer-1.us.digibyteservers.io/</value>
      </setting>
      <setting name="API3" serializeAs="String">
        <value>https://insight.digibyte.host/</value>
      </setting>
      <setting name="minBalance" serializeAs="String">
        <value>0.00059</value>
      </setting>
    </ContractCreate.Properties.Settings>
  </applicationSettings>
</configuration>